* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  padding: 20px;
  background-color: teal;
}
header a {
  color:purple;
}
header nav {
  float: right;
  margin: 30px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 30px;
  font-weight: lighter;
  font-size: 36px;
}
#second {
  background-image: url(../images/matrix-code.jpg);
}
h1 {
    padding: 20px;
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    background-color: purple;
}
h2 {
    font-size: 48px;

}
h3 {
    font-size: 48px;
}
p {
  background-color: gray;
  font-size: 24px;
}
.box {
  float: right;
  margin-top: 120px;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
section a {
  color:purple;
}
section nav ul li {
  display: inline;
}
section nav ul li a{
  margin: 80px;
  font-weight: lighter;
  font-size: 36px;
}


.section-title {
  flex: 0 0 20%;
  text-align: center;
  border-right: 4px solid purple;
}
.section-content {
  flex: 0 0 77%;
  font-size: 48px;
}
.contact-content {
  flex: 0 0 77%;
  font-size: 48px;
}


.projects {
  flex: 1;
  background-color: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.horiSEOn {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}
.horiSEOn img {
  flex: 0 0 77%;
  height: 450px;
  width: 1000px;
  
}
.projects:hover .horiSEOn {
  opacity: 0.3;
}

.run-buddy {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}
.run-buddy img {
  flex: 0 0 77%;
  height: 200px;
  width: 1000px;
}
.projects:hover .run-buddy {
  opacity: 0.3;
}